---
---

@import 'color';

#editor {
    .aq-main {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 1em;
    }

    .aq-buttons {
        width: 100%;
        height: 2em;

        .aq-send-button {
            width: 100%;
            height: 100%;
        }
    }

    .aq-input {
        width: calc(50% - 5px - 10px * 2 - 1px * 2);
        height: calc(100% - 10px * 2 - 1px * 2);
        margin: 0;
        padding: 10px;
        border: solid 1px $editor-border-color;
        border-radius: 3px;
        resize: none;
        font-size: 12pt;
        word-break: break-all;
    }

    .aq-output {
        width: calc(50% - 5px - 10px * 2 - 1px * 2);
        height: calc(100% - 10px * 2 - 1px * 2);
        margin: 0 0 0 20px;
        padding: 10px;
        border: solid 1px $editor-border-color;
        border-radius: 3px;
        overflow-y: scroll;
    
        pre {
            padding: 8px 12px;
            background-color: $code-background-color;
            border: none;
            border-radius: 3px;
            
            &>code {
                padding: 0;
            }
        }
    }
}


