#editor {
    display: flex;
}

#input {
    width: calc(50% - 5px - 10px * 2 - 1px * 2);
    height: calc(100% - 10px * 2 - 1px * 2);
    margin: 0;
    padding: 10px;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 3px;
    background-color: white;
    resize: none;
    font-size: 12pt;
    word-break: break-all;
}

#output {
    width: calc(50% - 5px - 10px * 2 - 1px * 2);
    height: calc(100% - 10px * 2 - 1px * 2);
    margin: 0;
    padding: 10px;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 3px;
    overflow-y: scroll;
}

#editor>div:not(:first-child) {
    margin-left: 20px;
}

#output pre {
    padding: 8px 12px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 3px;
}

#output pre>code {
    padding: 0;
}
