---
---

@import 'color';

$border-width: 1px;
$io-padding: 10px;
$io-hrizontal-margin: 20px;

#editor {
    .aq-main {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 1em;
    }

    .aq-buttons {
        width: 100%;
        height: 2em;

        .aq-send-button {
            width: 100%;
            height: 100%;
        }
    }

    .aq-input {
        width: calc(50% - #{$io-hrizontal-margin} / 2 - #{$io-padding} * 2 - #{$border-width} * 2);
        height: calc(100% - #{$io-padding} * 2 - #{$border-width} * 2);
        margin: 0;
        padding: $io-padding;
        border: solid $border-width $editor-border-color;
        border-radius: 3px;
        resize: none;
        font-size: 12pt;
        word-break: break-all;
    }

    .aq-output {
        width: calc(50% - #{$io-hrizontal-margin} / 2 - #{$io-padding} * 2 - #{$border-width} * 2);
        height: calc(100% - #{$io-padding} * 2 - #{$border-width} * 2);
        margin: 0 0 0 $io-hrizontal-margin;
        padding: $io-padding;
        border: solid $border-width $editor-border-color;
        border-radius: 3px;
        overflow-y: scroll;
    
        pre {
            padding: 8px 12px;
            background-color: $code-background-color;
            border: none;
            border-radius: 3px;
            
            &>code {
                padding: 0;
            }
        }
    }
}


