---
---

@import 'color';
@import 'layout';

$gap: $main-padding;

$buttons-height: 2em;

#editor {
    width: 100%;
    height: 100%;

    .aq-main {
        display: flex;
        width: 100%;
        height: calc(100% - #{$gap} - #{$buttons-height});
        margin-bottom: $gap;
    }

    .aq-buttons {
        width: 100%;
        height: $buttons-height;

        .aq-send-button {
            width: 100%;
            height: 100%;
        }
    }

    .aq-input {
        width: calc(50% - #{$gap} / 2 - #{$io-padding} * 2 - #{$io-border-width} * 2);
        height: calc(100% - #{$io-padding} * 2 - #{$io-border-width} * 2);
        margin: 0;
        padding: $io-padding;
        border: solid $io-border-width $editor-border-color;
        border-radius: $io-border-radius;
        resize: none;
        font-size: 12pt;
        word-break: break-all;
    }

    .aq-output {
        width: calc(50% - #{$gap} / 2 - #{$io-padding} * 2 - #{$io-border-width} * 2);
        height: calc(100% - #{$io-padding} * 2 - #{$io-border-width} * 2);
        margin: 0 0 0 $gap;
        padding: $io-padding;
        border: solid $io-border-width $editor-border-color;
        border-radius: $io-border-radius;
        overflow-y: scroll;
    }
}


