---
---

@import 'color';
@import 'layout';

.aq-question {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: $io-padding;
    border: solid $io-border-width $editor-border-color;
    border-radius: $io-border-radius;

    pre {
        padding: 8px 12px;
        background-color: $code-background-color;
        border: none;
        border-radius: $code-border-radius;
        
        &>code {
            padding: 0;
        }
    }
}

.aq-lds {
    text-align: center;
    padding: $main-padding*3 $main-padding;
}
