$theme-color: rgb(83, 92, 104); // WIZARD GREY https://flatuicolors.com/palette/au
$accent-color: rgb(255, 63, 52); // RED ORANGE https://flatuicolors.com/palette/se
$code-background-color: rgb(245, 245, 245);
$editor-border-color: $theme-color;

$time-color: $theme-color;

$button-color: $accent-color;
$button-hover-color: rgba($button-color, 0.8);
$button-disabled-color: rgba($button-color, 0.6);