$theme-color: rgb(189, 195, 199);
$accent-color: rgb(41, 128, 185);
$code-background-color: rgb(245, 245, 245);
$editor-border-color: rgb(200, 200, 200);

$button-color: $accent-color;
$button-hover-color: rgb(52, 152, 219);
$button-disabled-color: rgba(52, 152, 219, 0.6);