$header-height: 45px;
$header-padding: 20px;
$main-padding: 20px;

$io-padding: 20px;
$io-border-width: 1px;
$io-border-radius: 3px;

$time-border-width: 2px;
$time-horizontal-padding: 12px;
$time-vertical-padding: 4px;

$code-border-radius: 3px;