<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>Anoqode</title>
    <meta charset="utf-8" />
    <meta property="og:title" content="Anoqode" />
    <meta property="og:description" content="Anoqodeはコーディングに関する質問を匿名で行うためのサービスです。" />
    <meta property="og:type" content="{{ page.og_type }}" />
    <meta property="og:url" content="https://anoqode.com/" />
    <meta property="og:image" content="https://anoqode.com/img/og-image.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/lib/highlight-js/default.min.css" />
    <link rel="stylesheet" href="/css/common.css?t={{ site.time | url_encode }}" />
    <link rel="stylesheet" href="/css/editor.css?t={{ site.time | url_encode }}" />
    <link rel="stylesheet" href="/css/lds.css?t={{ site.time | url_encode }}" />
    {% for css in page.css %}
    <link rel="stylesheet" href="/css/{{ css }}?t={{ site.time | url_encode }}" />
    {% endfor %}
    <script src="/lib/highlight-js/highlight.min.js"></script>
    <script src="/lib/markdown-it/markdown-it.11.0.min.js"></script>
    {% for js in page.js %}
    <script src="/js/{{ js }}?t={{ site.time | url_encode }}"></script>
    {% endfor %}
</head>
<body>
    <header>
        <h1><a href="/"><img id="logo" src="/img/logo.png" alt="Anoqode" /></a></h1>
    </header>
    <main>
        {{content}}
    </main>
</body>
</html>
